.container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 24px;
  overflow-y: auto;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}
